:root {
    --100vh:   100dvh;
    --size-0:  0.125rem;
    --size-1:  0.25rem;
    --size-2:  0.5rem;
    --size-3:  0.75rem;
    --size-4:  1rem;
    --size-5:  1.25rem;
    --size-6:  1.5rem;
    --size-7:  2rem;
    --size-8:  3rem;
    --size-9:  4.5rem;
    --size-10: 6rem;
    
    --spacer-xs: var(--size-0);
    --spacer-sm: var(--size-2);
    --spacer: var(--size-4);
    --spacer-lg: var(--size-7);
    --spacer-xl: var(--size-9);
    --box-padding: 1.5rem;
    --ui-padding-x: var(--spacer);
  
    /* Colors - ENS color palette */
    --black: black;
    --dark-bg: rgb(68 188 240 / 4.54%);
    --primary: #7298f8;
    --primary-light: #b5caff;
    --action: rgb(68 188 240 / 4.54%);
    --action-active: rgb(114 152 248 / 59.2%);
  
    --shadow-1: rgb(68 147 240 / 8%);
    --shadow-2: rgba(114, 152, 248, 12%);
    --shadow-3: rgba(160, 153, 255, 17%);

    /* Borders */
    --border-radius: 0.5rem;
    --border: 3px solid rgba(23, 185, 255, 0.06);
    --border-dark: 3px solid var(--dark-bg);
}
  
@font-face {
    font-family: 'Space Mono';
    font-style: regular;
    font-weight: 400;
    src: local(''),
        url('/fonts/SpaceMono-Regular.woff2') format('woff2'),
        url('/fonts/SpaceMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('/fonts/SpaceMono-Italic.woff2') format('woff2'),
        url('/fonts/SpaceMono-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Space Mono';
    font-style: regular;
    font-weight: 700;
    src: local(''),
        url('/fonts/SpaceMono-Bold.woff2') format('woff2'),
        url('/fonts/SpaceMono-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('/fonts/SpaceMono-BoldItalic.woff2') format('woff2'),
        url('/fonts/SpaceMono-BoldItalic.woff') format('woff');
}