:root {
    --100vh:   100dvh;
    --size-0:  0.125rem;
    --size-1:  0.25rem;
    --size-2:  0.5rem;
    --size-3:  0.75rem;
    --size-4:  1rem;
    --size-5:  1.25rem;
    --size-6:  1.5rem;
    --size-7:  2rem;
    --size-8:  3rem;
    --size-9:  4.5rem;
    --size-10: 6rem;

    --spacer-xs: var(--size-0);
    --spacer-sm: var(--size-2);
    --spacer: var(--size-4);
    --spacer-lg: var(--size-7);
    --spacer-xl: var(--size-9);
    --box-padding: 1.5rem;
  
    /* Colors */
    --black: black;
    --dark-bg: rgb(68 188 240 / 4.54%);
    --primary: #7298f8;
    --action: rgb(68 188 240 / 4.54%);
    --action-active: rgb(114 152 248 / 59.2%);
  
    /* Borders */
    --border-radius: 0.5rem;
    --border: 3px solid rgba(23, 185, 255, 0.06);
    --border-dark: 3px solid var(--dark-bg);
    --ui-padding-x: var(--spacer):
}
  
/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/space-mono-v10-latin-regular.woff2') format('woff2'),
        url('/fonts/space-mono-v10-latin-regular.woff') format('woff');
}
/* space-mono-700italic - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('/fonts/space-mono-v10-latin-700italic.woff2') format('woff2'),
        url('/fonts/space-mono-v10-latin-700italic.woff') format('woff');
}
  
body {
    background-color: var(--dark-bg);
    color: white;
    min-height: 100vh;
    font-family: 'Space Mono', monospace;
}

@media (min-width: 40.5rem) {
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--black);
    }
}